#bookmarks li {
 height: 20px;
}

#bookmarks li img {
  width: 20px;
  height: 20px;
}

#bookmarks td {
  vertical-align: middle;
}

#bookmarks td.title.ng-click-active {
  color: red;
}

.main-spinner {
  position: absolute;
  top: 100px;
  left: 50%;
}


#bookmarks td.thumbnail {
  width: 30px;
  height: 30px;
}


.table tr:hover td,
.table tr:hover th {
  background-color: transparent;
}


.table-striped tr:nth-child(odd):hover td {
   background-color: #F9F9F9;
}

.list img {
  max-width: 30px;
}

.list .time-updated {
  position: relative;
  float: right;
}
