#bookmarks li {
 height: 20px;
}

#bookmarks li img {
  width: 20px;
  height: 20px;
}

#bookmarks td {
  vertical-align: middle;
}

#bookmarks td.title {
  max-width: 500px;
  text-overflow: ellipsis
  white-space: nowrap; /* paragraph to one line */
  overflow: hidden; /* older browsers */
}


#bookmarks td.thumbnail, #bookmarks td.thumbnail img {
  width: 30px;
  height: 30px;
}
