<!DOCTYPE html>
<html ng-app="watchpocket">
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Pocker Extension</title>

    <link href="vendor/ionic/css/ionic.min.css" rel="stylesheet"></link>
    <link href="css/pocket.css" rel="stylesheet"></link>

		<script src="vendor/jquery/jquery.js"></script>
		<script src="vendor/q/q.js"></script>
		<script src="vendor/underscore/underscore.js"></script>
    <script src="vendor/ionic/ionic.bundle.min.js"></script>
    <script src="vendor/angular-truncate/angular-truncate.js"></script>

    <script src="js/common.js"></script>
		<script src="js/bookmarkList.js"></script>
  </head>

  <body ng-controller="bookmarksCtrl">

    <div class="bar bar-header bar-positive">
      <button class="button icon ion-navicon"></button>
      <h1 class="title">Your Pocket</h1>
      <button class="button ion-plus" ng-click="addCurrent()"></button>
    </div>


    <ion-content class="has-header">

      <div class="list">

        <a ng-repeat="item in bookmarks" href="#" class="item item-thumbnail-left" ng-click="bookmarkSelected(item)">
          <img ng-src="{{ item.icon }}"/>
          <h2>{{ item.title || item.url | characters: 30}}</h2>
          <p>{{ item.domain }}</p>
        </a>

      </div>

      <ion-infinite-scroll
        on-infinite="loadNextPage()"
        ng-if="!allResultsFetched"
        distance="1%">
      </ion-infinite-scroll>

    </ion-content>

  </body>
</html>
