<!DOCTYPE html>
<html ng-app="watchpocket">
	<head>
		<meta charset="utf-8" />
		<title>Watchpocket bookmarks</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/pocket.css" rel="stylesheet">

		<script src="vendor/jquery/jquery.js"></script>
		<script src="vendor/angular/angular.js"></script>

		<script src="vendor/spin.js/spin.js"></script>
		<script src="vendor/angular-spinner/angular-spinner.js"></script>


    <script src="js/common.js"></script>
		<script src="js/bookmarkList.js"></script>
	</head>
	<body>
      <div id="bookmarks" ng-controller="bookmarksCtrl">
      <span
        us-spinner="{radius:30, width:8, length: 16}"
        spinner-key="spinner-bookmarks"
        spinner-start-active="1"></span>
      <ul class="list-group">
        <li class="list-group-item"
            ng-click="bookmarkSelected(item)"
            ng-repeat="item in bookmarks">
          <img src="{{item.icon}}"/>{{item.title}}
        </li>
      </ul>
    </div>

  </body>
</html>
